body
  .wrapper
    canvas#canvas
    .note Made with #[a(href="https://www.chartjs.org" target="_blank" rel="external noopener") Chart.js] by #[a(href="https://hofmannsven.com" target="_blank" rel="external noopener") Sven Hofmann].   